{
    "openapi": "3.0.3",
    "info": {
        "title": "Contractors.es",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https:\/\/demo.contractors.es",
            "description": "Test Environment"
        },
        {
            "url": "https:\/\/demopl.contractors.es",
            "description": "Test Environment"
        }
    ],
    "security": [
        {
            "BearerAuth": []
        }
    ],
    "paths": {
        "\/api\/auth\/login": {
            "post": {
                "operationId": "auth-login",
                "security": [],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "title": "AuthLoginRequest",
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "useragent": {
                                        "type": "string",
                                        "description": "Client identifier for auditing"
                                    }
                                },
                                "required": [
                                    "username",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Token issued",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "expires_in": {
                                            "type": "integer",
                                            "description": "Token TTL in seconds"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid credentials"
                    }
                },
                "summary": "Login to obtain bearer token",
                "tags": [
                    "Auth Api"
                ]
            }
        },
        "\/api\/countries": {
            "get": {
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/CountryResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#\/components\/schemas\/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#\/components\/schemas\/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Get a list of countries",
                "tags": [
                    "Country Api"
                ],
                "operationId": "get-api-countries"
            }
        },
        "\/api\/countries\/search": {
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "filters": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "and",
                                                        "or"
                                                    ]
                                                },
                                                "field": {
                                                    "type": "string",
                                                    "enum": [
                                                        "code",
                                                        "name"
                                                    ]
                                                },
                                                "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                        "<",
                                                        "<=",
                                                        ">",
                                                        ">=",
                                                        "=",
                                                        "!=",
                                                        "like",
                                                        "not like",
                                                        "in",
                                                        "not in",
                                                        "all in",
                                                        "any in"
                                                    ]
                                                },
                                                "value": {
                                                    "type": "string"
                                                },
                                                "nested": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "and",
                                                                    "or"
                                                                ]
                                                            },
                                                            "field": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "code",
                                                                    "name"
                                                                ]
                                                            },
                                                            "operator": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "<",
                                                                    "<=",
                                                                    ">",
                                                                    ">=",
                                                                    "=",
                                                                    "!=",
                                                                    "like",
                                                                    "not like",
                                                                    "in",
                                                                    "not in",
                                                                    "all in",
                                                                    "any in"
                                                                ]
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/CountryResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#\/components\/schemas\/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#\/components\/schemas\/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Search for countries",
                "tags": [
                    "Country Api"
                ],
                "operationId": "post-api-countries-search"
            }
        },
        "\/api\/countries\/{country}": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "country",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CountryResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Get country",
                "tags": [
                    "Country Api"
                ],
                "operationId": "get-api-countries-country"
            }
        },
        "\/api\/countries\/{country}\/states": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "country",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/StateResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#\/components\/schemas\/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#\/components\/schemas\/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Get a list of states",
                "tags": [
                    "State Api"
                ],
                "operationId": "get-api-countries-country-states"
            }
        },
        "\/api\/countries\/{country}\/states\/search": {
            "post": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "country",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "filters": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "and",
                                                        "or"
                                                    ]
                                                },
                                                "field": {
                                                    "type": "string",
                                                    "enum": [
                                                        "code",
                                                        "name"
                                                    ]
                                                },
                                                "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                        "<",
                                                        "<=",
                                                        ">",
                                                        ">=",
                                                        "=",
                                                        "!=",
                                                        "like",
                                                        "not like",
                                                        "in",
                                                        "not in",
                                                        "all in",
                                                        "any in"
                                                    ]
                                                },
                                                "value": {
                                                    "type": "string"
                                                },
                                                "nested": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "and",
                                                                    "or"
                                                                ]
                                                            },
                                                            "field": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "code",
                                                                    "name"
                                                                ]
                                                            },
                                                            "operator": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "<",
                                                                    "<=",
                                                                    ">",
                                                                    ">=",
                                                                    "=",
                                                                    "!=",
                                                                    "like",
                                                                    "not like",
                                                                    "in",
                                                                    "not in",
                                                                    "all in",
                                                                    "any in"
                                                                ]
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/StateResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#\/components\/schemas\/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#\/components\/schemas\/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Search for states",
                "tags": [
                    "State Api"
                ],
                "operationId": "post-api-countries-country-states-search"
            }
        },
        "\/api\/countries\/{country}\/states\/{state}": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "country",
                        "in": "path",
                        "required": true
                    },
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "state",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/StateResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Get state",
                "tags": [
                    "State Api"
                ],
                "operationId": "get-api-countries-country-states-state"
            }
        },
        "\/api\/countries\/{country}\/states\/associate": {
            "post": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "country",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/StateResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Associate state with country",
                "tags": [
                    "State Api"
                ],
                "operationId": "post-api-countries-country-states-associate"
            }
        },
        "\/api\/crm\/companies\/webhooks": {
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/Webhook"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/WebhookResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Create webhook",
                "tags": [
                    "Companies Webhook Api"
                ],
                "operationId": "post-api-crm-companies-webhooks"
            },
            "get": {
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/WebhookResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#\/components\/schemas\/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#\/components\/schemas\/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Get a list of webhooks",
                "tags": [
                    "Companies Webhook Api"
                ],
                "operationId": "get-api-crm-companies-webhooks"
            }
        },
        "\/api\/crm\/companies\/webhooks\/search": {
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "filters": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "and",
                                                        "or"
                                                    ]
                                                },
                                                "field": {
                                                    "type": "string",
                                                    "enum": [
                                                        "id",
                                                        "event",
                                                        "active",
                                                        "created_by",
                                                        "class_name"
                                                    ]
                                                },
                                                "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                        "<",
                                                        "<=",
                                                        ">",
                                                        ">=",
                                                        "=",
                                                        "!=",
                                                        "like",
                                                        "not like",
                                                        "in",
                                                        "not in",
                                                        "all in",
                                                        "any in"
                                                    ]
                                                },
                                                "value": {
                                                    "type": "string"
                                                },
                                                "nested": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "and",
                                                                    "or"
                                                                ]
                                                            },
                                                            "field": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "id",
                                                                    "event",
                                                                    "active",
                                                                    "created_by",
                                                                    "class_name"
                                                                ]
                                                            },
                                                            "operator": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "<",
                                                                    "<=",
                                                                    ">",
                                                                    ">=",
                                                                    "=",
                                                                    "!=",
                                                                    "like",
                                                                    "not like",
                                                                    "in",
                                                                    "not in",
                                                                    "all in",
                                                                    "any in"
                                                                ]
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/WebhookResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#\/components\/schemas\/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#\/components\/schemas\/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Search for webhooks",
                "tags": [
                    "Companies Webhook Api"
                ],
                "operationId": "post-api-crm-companies-webhooks-search"
            }
        },
        "\/api\/crm\/companies\/webhooks\/{webhook}": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "webhook",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/WebhookResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Get webhook",
                "tags": [
                    "Companies Webhook Api"
                ],
                "operationId": "get-api-crm-companies-webhooks-webhook"
            },
            "patch": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "webhook",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/Webhook"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/WebhookResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Update webhook",
                "tags": [
                    "Companies Webhook Api"
                ],
                "operationId": "patch-api-crm-companies-webhooks-webhook"
            },
            "delete": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "webhook",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/WebhookResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Delete webhook",
                "tags": [
                    "Companies Webhook Api"
                ],
                "operationId": "delete-api-crm-companies-webhooks-webhook"
            }
        },
        "\/api\/crm\/companies": {
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/Company"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CompanyResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Create company",
                "tags": [
                    "Company Api"
                ],
                "operationId": "post-api-crm-companies"
            },
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "with_trashed",
                        "in": "query"
                    },
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "only_trashed",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/CompanyResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#\/components\/schemas\/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#\/components\/schemas\/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Get a list of companies",
                "tags": [
                    "Company Api"
                ],
                "operationId": "get-api-crm-companies"
            }
        },
        "\/api\/crm\/companies\/search": {
            "post": {
                "parameters": [
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "with_trashed",
                        "in": "query"
                    },
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "only_trashed",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "scopes": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "enum": [
                                                        "vendors",
                                                        "customers",
                                                        "subcontractors"
                                                    ]
                                                },
                                                "parameters": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "name"
                                            ]
                                        }
                                    },
                                    "filters": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "and",
                                                        "or"
                                                    ]
                                                },
                                                "field": {
                                                    "type": "string",
                                                    "enum": [
                                                        "company_name",
                                                        "short_name",
                                                        "phone",
                                                        "fax",
                                                        "email",
                                                        "address_1",
                                                        "city",
                                                        "groups.slug",
                                                        "groups.name",
                                                        "salesRepresentatives.id",
                                                        "external_id"
                                                    ]
                                                },
                                                "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                        "<",
                                                        "<=",
                                                        ">",
                                                        ">=",
                                                        "=",
                                                        "!=",
                                                        "like",
                                                        "not like",
                                                        "in",
                                                        "not in",
                                                        "all in",
                                                        "any in"
                                                    ]
                                                },
                                                "value": {
                                                    "type": "string"
                                                },
                                                "nested": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "and",
                                                                    "or"
                                                                ]
                                                            },
                                                            "field": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "company_name",
                                                                    "short_name",
                                                                    "phone",
                                                                    "fax",
                                                                    "email",
                                                                    "address_1",
                                                                    "city",
                                                                    "groups.slug",
                                                                    "groups.name",
                                                                    "salesRepresentatives.id",
                                                                    "external_id"
                                                                ]
                                                            },
                                                            "operator": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "<",
                                                                    "<=",
                                                                    ">",
                                                                    ">=",
                                                                    "=",
                                                                    "!=",
                                                                    "like",
                                                                    "not like",
                                                                    "in",
                                                                    "not in",
                                                                    "all in",
                                                                    "any in"
                                                                ]
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/CompanyResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#\/components\/schemas\/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#\/components\/schemas\/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Search for companies",
                "tags": [
                    "Company Api"
                ],
                "operationId": "post-api-crm-companies-search"
            }
        },
        "\/api\/crm\/companies\/{company}": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "company",
                        "in": "path",
                        "required": true
                    },
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "with_trashed",
                        "in": "query"
                    },
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "only_trashed",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CompanyResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Get company",
                "tags": [
                    "Company Api"
                ],
                "operationId": "get-api-crm-companies-company"
            },
            "patch": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "company",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/Company"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CompanyResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Update company",
                "tags": [
                    "Company Api"
                ],
                "operationId": "patch-api-crm-companies-company"
            },
            "delete": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "company",
                        "in": "path",
                        "required": true
                    },
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "force",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CompanyResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Delete company",
                "tags": [
                    "Company Api"
                ],
                "operationId": "delete-api-crm-companies-company"
            }
        },
        "\/api\/crm\/companies\/{company}\/restore": {
            "post": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "company",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CompanyResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Restore company",
                "tags": [
                    "Company Api"
                ],
                "operationId": "post-api-crm-companies-company-restore"
            }
        },
        "\/api\/crm\/companies\/batch": {
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#\/components\/schemas\/Company"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/CompanyResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Create a batch of companies",
                "tags": [
                    "Company Api"
                ],
                "operationId": "post-api-crm-companies-batch"
            },
            "patch": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "object",
                                        "properties": {
                                            "{key}": {
                                                "$ref": "#\/components\/schemas\/Company"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/CompanyResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Update a batch of companies",
                "tags": [
                    "Company Api"
                ],
                "operationId": "patch-api-crm-companies-batch"
            },
            "delete": {
                "parameters": [
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "force",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "description": "A list of resource IDs"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/CompanyResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Delete a batch of companies",
                "tags": [
                    "Company Api"
                ],
                "operationId": "delete-api-crm-companies-batch"
            }
        },
        "\/api\/crm\/companies\/batch\/restore": {
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "description": "A list of resource IDs"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/CompanyResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Restore a batch of companies",
                "tags": [
                    "Company Api"
                ],
                "operationId": "post-api-crm-companies-batch-restore"
            }
        },
        "\/api\/crm\/company-groups": {
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/CompanyGroup"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CompanyGroupResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Create company group",
                "tags": [
                    "Company Group Api"
                ],
                "operationId": "post-api-crm-company-groups"
            },
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "with_trashed",
                        "in": "query"
                    },
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "only_trashed",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/CompanyGroupResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#\/components\/schemas\/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#\/components\/schemas\/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Get a list of company groups",
                "tags": [
                    "Company Group Api"
                ],
                "operationId": "get-api-crm-company-groups"
            }
        },
        "\/api\/crm\/company-groups\/search": {
            "post": {
                "parameters": [
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "with_trashed",
                        "in": "query"
                    },
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "only_trashed",
                        "in": "query"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "filters": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "and",
                                                        "or"
                                                    ]
                                                },
                                                "field": {
                                                    "type": "string",
                                                    "enum": [
                                                        "name",
                                                        "external_id",
                                                        "slug"
                                                    ]
                                                },
                                                "operator": {
                                                    "type": "string",
                                                    "enum": [
                                                        "<",
                                                        "<=",
                                                        ">",
                                                        ">=",
                                                        "=",
                                                        "!=",
                                                        "like",
                                                        "not like",
                                                        "in",
                                                        "not in",
                                                        "all in",
                                                        "any in"
                                                    ]
                                                },
                                                "value": {
                                                    "type": "string"
                                                },
                                                "nested": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "and",
                                                                    "or"
                                                                ]
                                                            },
                                                            "field": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "name",
                                                                    "external_id",
                                                                    "slug"
                                                                ]
                                                            },
                                                            "operator": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "<",
                                                                    "<=",
                                                                    ">",
                                                                    ">=",
                                                                    "=",
                                                                    "!=",
                                                                    "like",
                                                                    "not like",
                                                                    "in",
                                                                    "not in",
                                                                    "all in",
                                                                    "any in"
                                                                ]
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/CompanyGroupResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#\/components\/schemas\/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#\/components\/schemas\/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Search for company groups",
                "tags": [
                    "Company Group Api"
                ],
                "operationId": "post-api-crm-company-groups-search"
            }
        },
        "\/api\/crm\/company-groups\/{company_group}": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "company_group",
                        "in": "path",
                        "required": true
                    },
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "with_trashed",
                        "in": "query"
                    },
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "only_trashed",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CompanyGroupResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Get company group",
                "tags": [
                    "Company Group Api"
                ],
                "operationId": "get-api-crm-company-groups-company-group"
            },
            "patch": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "company_group",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/CompanyGroup"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CompanyGroupResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Update company group",
                "tags": [
                    "Company Group Api"
                ],
                "operationId": "patch-api-crm-company-groups-company-group"
            },
            "delete": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "company_group",
                        "in": "path",
                        "required": true
                    },
                    {
                        "schema": {
                            "type": "boolean"
                        },
                        "name": "force",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CompanyGroupResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Delete company group",
                "tags": [
                    "Company Group Api"
                ],
                "operationId": "delete-api-crm-company-groups-company-group"
            }
        },
        "\/api\/crm\/company-groups\/{company_group}\/restore": {
            "post": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "company_group",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/CompanyGroupResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Restore company group",
                "tags": [
                    "Company Group Api"
                ],
                "operationId": "post-api-crm-company-groups-company-group-restore"
            }
        },
        "\/api\/crm\/company-groups\/batch": {
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#\/components\/schemas\/CompanyGroup"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/CompanyGroupResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Create a batch of company groups",
                "tags": [
                    "Company Group Api"
                ],
                "operationId": "post-api-crm-company-groups-batch"
            },
            "patch": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "object",
                                        "properties": {
                                            "{key}": {
                                                "$ref": "#\/components\/schemas\/CompanyGroup"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
[...]
